* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
 
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

body {
    font-family: sans-serif;
}

/* inizio header */
nav {
    background-color: #ff6900;
    
    padding: 10px;

}

nav .container > *{

    padding: 10px;

}

nav .container {

    display: flex;

    justify-content: space-between;
    
}

nav .logo {
    width: 100px;
}

.label {
    position: absolute;
    top: 431px; 
    left: 137px; 
    z-index: 1;
    background-color: red; 
    padding: 6px 12px;
    color: white;
    font-weight: bolder;
    font-size:small;
}



 .icons ul, .nav-links ul, .social ul, .info ul {
    display: flex;
    list-style-type: none;
    gap: 14px;
 }

 .nav-links ul,  .icons ul li img {
    color: white;
 }

 .container .logo img {
    max-width: 100px;
    margin: 0 auto;
    text-align: center;
    
 }

 /* inizio prodotti */


.product-container {


    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

.product-card {
    width: 31%  ;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #fff;
   
}


.product-card .details-product .off  {
    display: inline-block;
    color: red;
    font-weight: bold;
    font-size: medium;
}


.details-product > * {
    padding: 1px 0px ;
}


h3 {
    font-size:medium;
}

p {
    font-size: small;
}

/* fine prodotti */


footer  {
    background-color: #1a1a1a;

    margin-top: 16px;
    
    padding: 16px 0;
    
}

footer .container {
    display: flex;
    justify-content: space-between;
    color: white;
}




footer .container .social ul li{
    list-style-type: none;
    padding-top: 10px;

}

footer .info ul li {
    font-size: small;
    padding-top: 10px;
}